# Entornos virtuales
.venv/
env/

# Archivos de configuración
*.env
*.log

# Archivos compilados
*.pyc
__pycache__/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de compilación o cache
build/
dist/
